APP_ENV=dev
APP_PORT=8080
MYSQL_DSN=mini_user:mini_password@tcp(127.0.0.1:3306)/mini_12306?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=change-me-in-local-env
TOKEN_EXPIRE_MINUTES=120
ORDER_PAY_EXPIRE_MINUTES=15

VITE_API_BASE_URL=/api/v1
VITE_API_PROXY_TARGET=http://localhost:8080
