APP_ENV=dev
APP_PORT=8080
MYSQL_DSN=root:hjy157466@tcp(127.0.0.1:3306)/mini?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=change-me-in-local-env
TOKEN_EXPIRE_MINUTES=120
ORDER_PAY_EXPIRE_MINUTES=15
